@model AspNetMvcTutorial.Models.Test
    <br />
    <br />
    <div class="testContent">
    @{
       
       using (Html.BeginForm("AnswerQuiz", "Course", FormMethod.Post))
       {
           foreach(AspNetMvcTutorial.Models.Quiz question in Model.TestQuizzes)
           {
           <fieldset>
               <div class="quizContent">                                      
                   @{                  
                       var wrongAnswers = ViewBag.WrongAnswers;
                       bool wrongAnswer = wrongAnswers != null && wrongAnswers.ContainsKey(question.Number);                       
                       if (wrongAnswer) {
                           @Html.Raw("<span class=\"wrongAnswer\">");
                       }
                       @Html.Raw("<b>" + question.Number.ToString() + ". " + question.QuestionText + "</b>");
                       if (wrongAnswer) {
                           @Html.Raw("</span>");
                       }
                   }
                   <br /><br />

                   @for (var i = 0; i < question.Answers.Count; i++)
                   {

                       @Html.Raw(question.Answers[i].Name + ". ")                       
                       var userAnswers = ViewBag.UserAnswers;    
                       bool isChecked = userAnswers == null ? false : userAnswers.ContainsKey(question.Number) && userAnswers[question.Number].Contains(question.Answers[i].Name);
                       @Html.ValuedCheckBox(
                         "userSelections", 
                         question.Number + "_" + question.Answers[i].Name,                       
                         isChecked
                       )
                       @Html.Raw(" " + question.Answers[i].AnswerText + " ")
                       <br />
                   }
                   <br />            
                   </div>
           </fieldset>
           }
           <input type="submit" style="font-size: 1em; font-weight: normal" value="Sprawdź wynik" />        
           <br /><br />
           <div id="testResultMessage">@Html.Raw(ViewBag.ReturnMessage)</div>
        }
        
    }
    </div>
    