@model AspNetMvcTutorial.Models.Test
@{
    var prevQuiz = ViewBag.prevQuiz != "" ? String.Format(@"<a href=""/Course/RenderQuizPage/{0}/{1}/{2}"" class=""itemLink"">&lt;&lt;poprzednie pytanie </a>", Model.TestGroupNo, ViewBag.MaterialNumber, ViewBag.prevQuiz) : "";
    var nextQuiz = ViewBag.nextQuiz != "" ? String.Format(@"<a href=""/Course/RenderQuizPage/{0}/{1}/{2}"" class=""itemLink""> następne pytanie&gt;&gt;</a>", Model.TestGroupNo, ViewBag.MaterialNumber, ViewBag.nextQuiz) : "";
    var CurrentQuiz = Model.QuizeList[ViewBag.currentQuizID];
}
    <br />
    <br />
    <span class="subjectNavigation">@Html.Raw(@prevQuiz)&nbsp;&nbsp;@Html.Raw(nextQuiz)</span>
    @{
       using (Html.BeginForm("AnswerQuiz", "Course", FormMethod.Post))
       {
           <fieldset>
               <div class="quizContent">
                   @Html.Raw("Pytanie: " + ViewBag.QuizName + ". ")
                   <br />
                   @Html.Raw(ViewBag.QuestionText)
                   <br /><br />
                   
                   @for (var i = 0; i < CurrentQuiz.Answers.Count; i++)
                   {
                       @Html.Raw(CurrentQuiz.Answers[i].Name + ". ")
                       @Html.Raw(CurrentQuiz.Answers[i].AnswerText + " ")
                       @Html.ValuedCheckBox("userAnswer", (i+1).ToString())
                       <br />
                   }
                   <br />            
                   </div>
           </fieldset>
           <input type="submit" style="font-size: 1em; font-weight: normal" value="Check" /> 
        }       
        <p style="color:red">@Html.Raw(ViewBag.ReturnMessage)</p>
    }   
>>>>>>> origin/master
    