@model AspNetMvcTutorial.Models.Subject

<h3>Kurs: <a href="/Course/Main/@ViewBag.CourseId" class="itemLink navy">@ViewBag.CourseName</a></h3>
<br />
<b>Moduł: <a href="/Course/Module/@ViewBag.ModuleId" class="itemLink navy">@ViewBag.ModuleName</a></b>
<br />
<br />
@{
    // var testMaterial = ViewBag.MaterialNumber == ViewBag.MaterialCount + 1 ? "" : String.Format(@"<a href=""/Course/Subject/{0}/{1}"" class=""itemLink"">{2}</a>", Model.ID, ViewBag.MaterialNumber + 1, ViewBag.MaterialNumber == ViewBag.MaterialCount ? "Test wiedzy" : "&gt;&gt;");
    
    var nextArrow = "<img src=\"/Content/images/next.png\" />";
    var prevArrow = "<img src=\"/Content/images/back.png\" />";
    bool onLastMaterial = ViewBag.MaterialNumber == ViewBag.MaterialCount;
    bool onTest = ViewBag.MaterialNumber == ViewBag.MaterialCount + 1;    
    var prevMaterialLink = ViewBag.MaterialNumber == 1 ? "" : String.Format(@"<a href=""/Course/Subject/{0}/{1}"" class=""itemLink"">"+prevArrow+"</a>", Model.ID, ViewBag.MaterialNumber - 1);
    var nextMaterialLink = (onLastMaterial && Model.SubjectTest == null || onTest) ? "" : String.Format(@"<a href=""/Course/Subject/{0}/{1}"" class=""itemLink"">{2}</a>", Model.ID, ViewBag.MaterialNumber + 1, onLastMaterial ? "test wiedzy" : nextArrow);      
    var prevSubjectLink = ViewBag.PrevSubjectId == 0 ? "" : String.Format(@"<a href=""/Course/Subject/{0}/{1}"" class=""itemLink"">"+prevArrow+" poprzedni temat</a>", ViewBag.PrevSubjectId, 1);
    var nextSubjectLink = ViewBag.NextSubjectId == 0 ? "" : String.Format(@"<a href=""/Course/Subject/{0}/{1}"" class=""itemLink"">następny temat "+nextArrow+"</a>", ViewBag.NextSubjectId, 1);

}
@if (!@ViewBag.DoTest)
{
    <b>Temat: @Model.Name (@Html.Raw(@prevMaterialLink) @ViewBag.MaterialNumber/@ViewBag.MaterialCount  @Html.Raw(@nextMaterialLink))</b>
    <span class="subjectNavigation">@Html.Raw(@prevSubjectLink)&nbsp;&nbsp;@Html.Raw(nextSubjectLink)</span>
    // @Html.Raw(@testMaterial)
    <br />
    <br />
    <div class="materialContent">
        @Html.Raw(@ViewBag.Material.MaterialContent)
    </div>
}
else
{    
    <b>Temat: @Model.Name (@Html.Raw(@prevMaterialLink) <b>test wiedzy</b>)</b>
    <span class="subjectNavigation">@Html.Raw(@prevSubjectLink)&nbsp;&nbsp;@Html.Raw(nextSubjectLink)</span>
        
    { Html.RenderAction("RenderQuiz", "Course", new { subjectTest = Model.SubjectTest }); }    
    
}
